*.iml
.gradle
/local.properties
/.idea
.DS_Store
build/
/captures
.externalNativeBuild
.cxx
local.properties

# AI Model Weights (Keep this - it's the huge file!)
*.tflite
*.pb
*.h5
*.pth
*.pt
# Java Heap Dump File
*.hprof